# Tasks

## Load the wine dataset

Calculate the `median` of the `points` column from the dataset frame.

In [62]:
import pandas as pd
# Load the dataset
df = pd.read_csv("../data/winemag-data-130k-v2.csv")
#  save in a vatriable called: median_points =
median_points = df.points.median()
print(median_points)

88.0

In [63]:
# Find which countries are represented in the dataset
# store values in: countries = 
contries = df.country.unique()
contries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [64]:
# Find how often each contry appears in the set
# store values in: reviews_per_country =
reviews_per_country = df.country.value_counts()
reviews_per_country

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Czech Republic               12
Serbia                       12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Armenia                       2
Bosnia and Herzegovina        2
Slovakia                      1
China                         1
Egypt                         1
Name: count, dtype: int64

In [69]:
# Create Series called: centered_price
# that contains the price column with the mean price subtracted
centered_price = df.price - df.price.mean()
centered_price

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

In [70]:
# Find the bargain wine.
# Create a variable called: bargain_wine with the title of the high point-per-price ratio
bargain_wine = df.loc[(df.points / df.price).idxmax()].title
bargain_wine

'Bandit NV Merlot (California)'

In [80]:
# Create a Series called: descriptor_counts
# Count how many times each of the words: 'fruity', and tropical 'tropical' appear in the description column
fruity_count = df.description.map(lambda x: 'fruity' in x).sum() 
tropical_count = df.description.map(lambda x: 'tropical' in x).sum() 
# Count them
descriptor_counts = pd.Series([fruity_count, tropical_count], index=['fruity', 'tropical'])
print(descriptor_counts)

fruity      9090
tropical    3607
dtype: int64

In [68]:
# TODO: Create a Series called: star_ratings
# With the number of stars corresponding to each review in the set
# Rating system ranges from 80-100 points
# A score of 95 or higher = 3 stars
# A score of at least 85 but less than 95 = 2 stars
# Any other score = 1 star  
star_ratings = df.points.map(lambda x: 3 if x >= 95 else 2 if x >= 85 else 1)
star_ratings.value_counts().sort_index(ascending=False)

points
3      2416
2    115125
1     12430
Name: count, dtype: int64